@model pawprint.Models.tbl_login

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>Seguro de eliminar esto?</h3>
<div>
    <h4>tbl_login</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_roles.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_roles.Tipo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
